.calendar {
    margin: 20px auto;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    font-family: 'Manrope', sans-serif ;
    background-color: #fff;
    color: #242424;
    max-height: 600px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;

    &.hidden {
        max-height: 218px;
        transition: all 0.5s ease-in-out;
    }

    .calendar__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 7px;
        margin-bottom: 20px;

        .calendar__avatar {
            width: 24px;
            height: 24px;
            border-radius: 40px;
            margin-left: auto;
        }

        .calendar__btns__wrapper {
            display: flex;
            align-items: center;
            gap: 4px;
            background: var(--gray);
            padding: 4px;
            border-radius: 50px;

            .calendar__btn-prev,
            .calendar__btn-next {
                background: none;
                border: none;
                cursor: pointer;
                padding: 5px;
                border-radius: 40px;
                height: 24px;
                width: 24px;
                display: flex;
                align-items: center;
                background: var(--white);
            }

            .calendar__btn-prev::before,
            .calendar__btn-next::before {
                content: "";
                display: inline-block;
                width: 14px;
                height: 14px;
                background-size: contain;

            }

            .calendar__btn-prev::before {
                background-image: url("data:image/svg+xml,%3Csvg width='14.000000' height='14.000000' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs/%3E%3Cpath id='Vector' d='M7.15 3.1L5.28 4.97L4.13 6.11C3.64 6.6 3.64 7.39 4.13 7.87L7.15 10.89C7.55 11.29 8.22 11 8.22 10.45L8.22 7.18L8.22 3.54C8.22 2.98 7.55 2.7 7.15 3.1Z' fill='%23212121' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cg opacity='0.000000'/%3E%3C/svg%3E%0A");
            }

            .calendar__btn-next::before {
                background-image: url("data:image/svg+xml,%3Csvg width='14.000000' height='14.000000' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs/%3E%3Cpath id='Vector' d='M8.86 6.11L7.71 4.97L5.84 3.09C5.44 2.7 4.77 2.98 4.77 3.54L4.77 7.18L4.77 10.45C4.77 11.01 5.44 11.29 5.84 10.89L8.86 7.87C9.35 7.39 9.35 6.6 8.86 6.11Z' fill='%23212121' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cg opacity='0.000000'/%3E%3C/svg%3E%0A");
            }

            .calendar__btn-today {
                background: var(--white);
                border: none;
                color: rgb(33, 33, 33);
                font-family: 'Manrope', sans-serif;
                font-size: 12.61px;
                font-weight: 600;
                height: 24px;
                padding: 0 10px;
                border-radius: 40px;
                cursor: pointer;
            }
        }
    }
}

.calendar__table {
    border: none;
    width: 100%;
    border-collapse: collapse;
}

.calendar__table th,
.calendar__table td {
    border: none;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    width: 14.28%;

    @media (max-width: 460px) {
        padding: 3px;
    }
}

.calendar__table th {
    color: var(--gray-dark);
}

.calendar__table td {
    height: 26px;
    width: 36px;
}

.calendar__table .empty {
    background-color: transparent;
}

.calendar__table .calendar__day {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-dark);
    font-size: 13px;
    font-weight: 800;
    line-height: 18px;
}

.calendar__table .month .calendar__day {
    color: var(--light-dark);
    border-radius: 50px;
    font-size: 13px;
    font-weight: 800;
    width: 36px;
    height: 26px;
    margin: 0 auto;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        background: var(--purple);
        color: var(--white);
    }
}

.calendar__table .curr__month .calendar__day {
    color: var(--gray-dark);
}

.calendar__table .calendar__day.active {
    color: var(--white);
    background: var(--purple);
}

.calendar__table .task__indicator {
    position: absolute;
    bottom: 0;
    border-radius: 50px;
    color: var(--white);
    background: var(--purple);
    font-size: 13px;
    font-weight: 800;
    left: 50%;
    transform: translateX(-50%);
    height: 6px;
    margin: 0 auto;
}

.calendar__table .task__indicator--1 {
    width: 8px;
}

.calendar__table .task__indicator--2 {
    width: 12px;
}

.calendar__table .task__indicator--3 {
    width: 16px;
}

.calendar__table .task__indicator--4 {
    width: 20px;
}

.calendar__table .task__indicator--5 {
    width: 24px;
}

.calendar__table .task__indicator--6 {
    width: 28px;
}

.calendar__table .task__indicator--7 {
    width: 32px;
}

.calendar__table .task__indicator--8 {
    width: 36px;
}

.calendar__table .next-month {
    color: #b0b0b0;
    font-size: 14px;
}

.hide__button-up, .hide__button-down {
    margin-top: 10px;
    cursor: pointer;

    &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='20.000000' height='20.000000' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs/%3E%3Cpath id='Vector' d='M5.06 13.18L10.26 13.18L14.93 13.18C15.73 13.18 16.13 12.21 15.56 11.65L11.25 7.33C10.56 6.64 9.43 6.64 8.74 7.33L7.1 8.97L4.42 11.65C3.86 12.21 4.26 13.18 5.06 13.18Z' fill='%23292D32' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cg opacity='0.000000'/%3E%3C/svg%3E%0A");
    }
}

.hide__button-down {
    &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='20.000000' height='20.000000' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs/%3E%3Cpath id='Vector' d='M14.93 6.81L9.74 6.81L5.06 6.81C4.26 6.81 3.86 7.78 4.43 8.34L8.75 12.66C9.44 13.35 10.56 13.35 11.25 12.66L12.9 11.02L15.57 8.34C16.13 7.78 15.73 6.81 14.93 6.81Z' fill='%23292D32' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cg opacity='0.000000'/%3E%3C/svg%3E%0A");
    }
}

.tasks {
    background: var(--gray);
    text-align: left;

    .tasks__title {
        color: var(--gray-dark);
        font-size: 16px;
        font-weight: 800;
        line-height: 22px;
    }

    .tasks__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style-type: none;
        padding: 0;
        margin: 0;

        .list__item {
            padding: 10px 15px;
            border-radius: 10px;
            background: var(--white);

            .item__reminder {
                padding: 5px 15px;
                border-radius: 7px;
                background: var(--ligth-gray);
                color: var(--gray-dark);
                font-size: 13px;
                font-weight: 500;
                width: calc(100% - 30px);
                text-align: center;
                display: inline-block;
                margin-bottom: 10px;
            }

            .item__wrapper {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-left: 15px;

                &::after {
                    content: '';
                    position: absolute;

                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 3.5px;
                    background-color: var(--purple);
                    border-radius: 5px;
                }

                .item__time {
                    color: var(--light-dark);
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16px;
                }

                .item__icon {
                    color: var(--gray-dark);
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 18px;
                }
            }
        }
    }
}
